*.retry
*.log
.vaultpass
*.swp
/.facts_cache
/ansible.log
/venv
/.idea
/.vscode
inventory/test_*
*.pyc
*.pyo
__pycache__/
/credentials*
.terraform.tfstate.lock.info
playbook_test*
files/cert-root/*.key
**/delete-*
/cmdb_raw*
ansible_cmdb_report*
**/tmp*
